<h2>Lista de Cursos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Código</th>
            <th>Duração</th>
            <th>Avaliação</th>
            <th>Data de Lançamento</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td><img [src]=course.imageUrl width="70px"></td>
            <td>{{course.name}}</td>
            <td>{{course.price}}</td>
            <td>{{course.code}}</td>
            <td>{{course.duration}} Minutos</td>
            <td>
                <app-star [rating] = "course.rating"></app-star>
            </td>
            <td>{{course.releaseDate}}</td>
            <td></td>
        </tr>
    </tbody>
</table>